*{
    max-width: 1140px;
    margin: 0 auto;
}

.poppins{
    font-family: "Poppins", sans-serif;
}

.btn-primary{
    color: white;
    background-color: #E95A08;
    padding: 1rem 5rem;
    border: none;

}

/* nav area */

.nav{
    display: flex;
    align-items: center;
   
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-clr-1{
    color: #8987A1;
}
.nav-clr-2{
    color: #8987A1;
}

/* Hero section*/

.hero-section{
    margin-top: 120px;
}

.main-hero{
    display: flex;
    align-items:center;
    
}

.hero-title{
    font-family: "Noto Serif", serif;
    font-size: 64px;
    font-weight: bold;
}


.hero-description{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    margin-top: 25px;
    color: #8987A1;
}

.hero-title-clr{
    color: #E95A08;
}


/* main "our plant" section*/

.our-plants-section{
    margin-top: 120px;
}


.our-plants-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.our-plants-description{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    color: #8987A1;
    text-align: center;
    margin-bottom: 49px;
}


.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box-container-item{
    margin-bottom: 16px;
}


.box-container-item-info{
    text-align: center;
}

.card-p{
    margin-top: 30px;
}


.card-price{
    margin: 16px;
}

.our-plants-title-clr{
    color: #E95A08;
    
}

.card-p{
     font-family: "Inter", sans-serif;
}

.card-price{
    font-family: "Inter", sans-serif;
}


/* main part "trust section"*/

.trust-part{
    margin-top: 7.5rem;
}

.trust-part-section{
    display: flex;
    align-items: center;
}

.trust-part-right{
    margin-left: 5rem;
}

.trust-part-title{
    font-family: "Noto Serif", serif;
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 2.75rem;

}

.trust-part-li{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: #8987A1;
    padding: 1.25rem 0;
   
}


/* main section "latest deal' part */

.latest-deal{
    margin-top: 5.5rem;
}

.latest-deal-title{
    font-family: "Noto Serif", serif;
    text-align: center;
    font-size: 3.125rem;
}

.latest-deal-description{
    color: #8987A1;
    text-align: center;
    font-size: 1.375rem;
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 7.5rem;
}

.cng-clr-1{
    color: #E95A08;
}


/* main section "gallery part" */

.gallery-section-box{
    display: flex;
    align-items: center;
    
}

.gallery-section-img1{
    border-radius: 10px;
}

.gallery-section-img2{
    border-radius: 10px;
}

.gallery-section-img3{
    border-radius: 10px;
}




/* main part "newsletter section" */

.newsletter-section{
    
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    
}

.newsletter-section-info{
    background: url(/assets/news-letter-bg.png);
    justify-items: center;
    
    height: 400px; 
    
    
}

.newsletter-section-1{
    font-family: "Noto Serif", serif;
    font-size: 3.125rem;
    font-weight: bold;
    color: rgb(255, 254, 254);
    
   
}

.input{
    width: 500px;
    padding: 10px;
}

.btn-primary-2{
    padding: 10px;
    border: none;
    color: white; 
    background-color: #E95A08; 
}


/* footer section */

.footer{
    display: flex;
    align-items: center;
}

.footer-description{
    font-family: "Inter", sans-serif;
    color: #8987A1;

}

.footer-list-1{
    font-family: "Inter", sans-serif;
    list-style: none;
    color: #8987A1;
}

.footer-list-2{
    font-family: "Inter", sans-serif;
    list-style: none;
    color: #8987A1;
}

.li-1{
    padding: 0.8rem;
}

.li-2{
    padding: 0.8rem;
}

.logo-pics{
    margin-top: -200px;
}



